html, body {
  height: 100%;
  width: 100%;
}

body {
  background: #4f3b5b;
  background: -moz-radial-gradient(center, ellipse cover,  #4f3b5b 0%, #231733 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#4f3b5b), color-stop(100%,#231733));
  background: -webkit-radial-gradient(center, ellipse cover,  #4f3b5b 0%,#231733 100%);
  background: -o-radial-gradient(center, ellipse cover,  #4f3b5b 0%,#231733 100%);
  background: -ms-radial-gradient(center, ellipse cover,  #4f3b5b 0%,#231733 100%);
  background: radial-gradient(ellipse at center,  #4f3b5b 0%,#231733 100%);
}

@keyframes test {
  0% {
    left: calc(50% - 45px);
    top: calc(50% - 10px);
  }
  9% {
    left: calc(50% - 45px);
    top: calc(50% - 10px);
  }
  18% {
    left: calc(50% - 45px);
    top: calc(90% - 10px);
  }
  27% {
    left: calc(10% - 45px);
    top: calc(90% - 10px);
  }
  36% {
    left: calc(10% - 45px);
    top: calc(50% - 10px);
  }
  45% {
    left: calc(10% - 45px);
    top: calc(10% - 10px);
  }
  54% {
    left: calc(50% - 45px);
    top: calc(10% - 10px);
  }
  63% {
    left: calc(90% - 45px);
    top: calc(10% - 10px);
  }
  72% {
    left: calc(90% - 45px);
    top: calc(50% - 10px);
  }
  81% {
    left: calc(90% - 45px);
    top: calc(90% - 10px);
  }
  90% {
    left: calc(50% - 45px);
    top: calc(90% - 10px);
  }
  100% {
    left: calc(50% - 45px);
    top: calc(50% - 10px);

  }
}

share-button {
  animation-name: test;
  animation-duration: 12s;
  animation-delay: 1s;
  left: calc(50% - 45px);
  top: calc(50% - 10px);
}
